{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Cadastrar Item de Pedido</h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="cod_pedido" value="{{ pedido.pk }}">
            <div class="form-group">
                <label for="{{ form.cod_prod.id_for_label }}">Produto:</label>
                {{ form.cod_prod }}
                {{ form.cod_prod.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.quantidade.id_for_label }}">Quantidade:</label>
                {{ form.quantidade }}
                {{ form.quantidade.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.data_vencimento.id_for_label }}">Data de Vencimento:</label>
                {{ form.data_vencimento }}
                {{ form.data_vencimento.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.preco.id_for_label }}">Preço:</label>
                {{ form.preco }}
                {{ form.preco.errors }}
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <a href="{% url 'detalhes_pedido' pedido_id=pedido.pk %}" class="btn btn-secondary">Voltar</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Escuta o evento de mudança no campo de seleção de produto
            $('#id_cod_prod').on('change', function () {
                var selectedProductId = $(this).val();
                // Realiza uma requisição AJAX para obter o preço do produto selecionado
                $.ajax({
                    type: 'GET',
                    url: '{% url "get_preco" 0 %}'.replace('0', selectedProductId),  // URL que retorna o preço
                    success: function (data) {
                        $('#id_preco').val(data.preco_custo);  // Atualiza o campo de preço
                    }
                });
            });
        });
    </script>
{% endblock %}
