<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema Lecoq</h1>

    <ul>
        <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar Cliente</a></li>
        <li><a href="{% url 'listar_clientes' %}">Listar Clientes</a></li>
        <li><a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a></li>
        <li><a href="{% url 'listar_produtos' %}">Listar Produtos</a></li>
        <li><a href="{% url 'cadastrar_ingrediente' %}">Cadastrar Ingrediente</a></li>
        <li><a href="{% url 'listar_ingredientes' %}">Listar Ingredientes</a></li>
        <li><a href="{% url 'cadastrar_item_nutricional' %}">Cadastrar Item Nutricional</a></li>
        <li><a href="{% url 'listar_itens_nutricionais' %}">Listar Itens Nutricionais</a></li>
        <li><a href="{% url 'cadastrar_tabela_nutricional' %}">Cadastrar Tabela Nutricional</a></li>
        <li><a href="{% url 'listar_tabelas_nutricionais' %}">Listar Tabelas Nutricionais</a></li>
        <li><a href="{% url 'cadastrar_tabela_nutricional_produto' %}">Cadastrar Tabela Nutricional Produto</a></li>
        <li><a href="{% url 'listar_tabelas_nutricionais_produto' %}">Listar Tabelas Nutricionais Produto</a></li>
        <li><a href="{% url 'cadastrar_pedido' %}">Cadastrar Pedido</a></li>
        <li><a href="{% url 'listar_pedidos' %}">Listar Pedidos</a></li>
        <li><a href="{% url 'cadastrar_item_pedido' %}">Cadastrar Item Pedido</a></li>
        <li><a href="{% url 'listar_itens_pedido' %}">Listar Itens Pedido</a></li>
    </ul>
</body>
</html>
