{% extends 'base.html' %}

{% block content %}
  <h3>Cliente.: {{pedido.cod_cliente.nome}}</h3>

  <h3>Produto.: {{  item.cod_prod.nome}}</h3>

  <form method="post" action="{% url 'salvar_devolucao'  pedido_id=pedido.pk produto_id=item.cod_prod.pk %}">
  {% csrf_token %}
    <!-- Exibir informações do produto e campo para quantidade_dev -->
    <label for="quantidade_dev">Quantidade de Devolução:</label>
    <input type="number" name="quantidade_dev" required>
    <button type="submit">Salvar</button>
</form>
{% endblock %}




