{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Listagem de Produtos</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="col-md-1">Código</th>
                    <th scope="col" class="col-md-2">Nome</th>
                    <th scope="col" class="col-md-1">Preço 1</th>
                    <th scope="col" class="col-md-1">Preço 2</th>
                    <th scope="col" class="col-md-1">Preço 3</th>
                    <th scope="col" class="col-md-1">Preço Custo</th>
                    <th scope="col" class="col-md-1">Valor Energético</th>
                    <th scope="col" class="col-md-1">Porção</th>
                    <th scope="col" class="col-md-1">Peso</th>
                    <th scope="col" class="col-md-1">Dias de Validade</th>
                    <th scope="col" class="col-md-2">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <th scope="row">{{ produto.codigo }}</th>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.preco1 }}</td>
                    <td>{{ produto.preco2 }}</td>
                    <td>{{ produto.preco3 }}</td>
                    <td>{{ produto.preco_custo }}</td>
                    <td>{{ produto.valor_energetico }}</td>
                    <td>{{ produto.porcao }}</td>
                    <td>{{ produto.peso }}</td>
                    <td>{{ produto.dias_validade }}</td>
                    <td>
                        <a href="{% url 'detalhes_produto' produto.codigo %}" class="btn btn-sm btn-info">Detalhes</a>
                        <a href="{% url 'editar_produto' produto.codigo %}" class="btn btn-sm btn-primary">Editar</a>
                        <a href="{% url 'excluir_produto' produto.codigo %}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'cadastrar_produto' %}" class="btn btn-primary">Cadastrar Produto</a>
</div>
{% endblock %}
